.App {
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  padding: 10vh 0 10vh 0;
  font-family: 'Press Start 2P', cursive;
  /* background-image: url('../public/Background.jpeg');
  background-position:bottom; */
}

#Mario{
  width: 10vw;
  margin: -30vh 0 10vh 5vw;
}
#Luigi{
  width: 10vw;
  margin: -30vh 5vw 10vh 0;
}
#Yoshi{
  width: 20vw;
}
#images{
  display: flex;
  justify-content:space-between;
}

/* .redMushroom, .greenMushroom{
  width: 15vw;
  margin-bottom: 10px;
} */

.redMushroom, .greenMushroom{
  width: 5vw;
  padding-bottom: 25px;
}

.buttonsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 15vh;
  margin: 10px 25px;
}

.RSVPform form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RSVPform button {
  display: flex;
  width: fit-content;
}

form input, form textarea {
  border-radius: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 50vw;
}

.App hr {
  width: 40vw;
}

#footer {
  display: block;
  float: left;
  bottom: 0;
  position: fixed;
}

.demo-wrap {
  position: relative;
}

.demo-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  background-image: url('../public/Background.jpeg');
  /* background-repeat: no-repeat; */
  background-position: bottom;
  /* background-size: cover; */
}

.demo-content {
  position: relative;
}