.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: 2px 2px black;
  font-family: 'Press Start 2P', cursive;
}

.mobile{
  display: none;
}

.main{
  background: url('../public/switch.png') no-repeat center center fixed;
  background-size: 95vw;
  display: flex;
  text-align: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.description{
  margin-bottom: 4%;
}

#header{
  color: black;
  text-shadow: 2px 2px grey;
  font-size:medium;
}

#Mario{
  width: 4vw;
  margin-right: 5%;
}
#Luigi{
  width: 4vw;
  margin-left: 2%;
}
#images{
  display: flex;
  justify-content:center;
}

.redMushroom, .greenMushroom{
  width: 5vw;
}

.buttonsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 15vh;
  margin: 10px 25px;
}
.buttons:hover{
  cursor: pointer;
}

.RSVPform form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RSVPform button {
  display: flex;
  width: fit-content;
}

form input, form textarea{
  border-radius: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 25vw;
}


.backButton{
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 10px; 
}

@media screen and (max-width: 1000px){

  .desktop{
    display: none;
  }

  .mobile{
    display:block;
    text-align: center;
  }

  #header{
    text-align: center;
  }

  .main{
    background: none;
  }

  .App{
    margin:0;
    background: url('../public/gameboy.jpeg') no-repeat center center;
    background-size: 100% 100%;
  }

  .redMushroom, .greenMushroom{
    width: 5vw;
  }

  #Mario, #Luigi{
    width: 15vw;
    height: 25vh;
  }

  .description{
    margin-bottom: 4%;
  }

  .date{
    font-size: medium;
  }

  form input, form textarea{
    width: 50vw;
  }
}