.App {
  text-align: center;
  background-color: #dc7800;
  height: 100vh;
  padding-top: 20px;
}

.cornerWeb img{
  width: 25vw;
  float: left;
  margin-top: -20px;
  z-index: -1;
}

.cornerHouse img {
  height: 40vh;
  width: auto;
  float: right;
  margin-top: 60vh;
}