.App {
  text-align: center;
  /* background-color: #dc7800; */
  /* background-color: #efe5d5; */
  height: 100vh;
  padding-top: 20px;
  font-family: 'IM Fell English SC', serif;
  /* z-index: 10; */
}

/* .App h1 {
  font-family: 'Creepster', cursive;
} */

#parchment {
  z-index: -1;
  position: absolute;
  display: flex;
  width: 86%;
  min-height: calc((1vw + 1vh) * 75);
  /* height: 90%; */
  /* center page with absolute position */
  top: 0%; left: 50%; transform: translate(-50%, 0);
  /* margin: 2em 0; */
  padding: 4em;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
}

.cornerWeb img{
  width: 25vw;
  left: 0;
  top: 0;
  /* float: left; */
  /* margin-top: -20px; */
  position: absolute;
  /* z-index: -1; */
  /* z-index: 1; */
}

.cornerSkull img{
  width: 5vw;
  
}

.moon img{
  width: 25vw;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: -1;
  opacity: 0.8;
}

.cemetery img {
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 5px;
  left: 0;
  right: 0;
  opacity: 0.8;
}


.RSVPform form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RSVPform button {
  display: flex;
  width: fit-content;
}

.RSVPform input, .RSVPform textarea {
  width: 30vw;
}

.App hr {
  width: 40vw;
}